@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
  }
}

@layer utilities {
  .main-gardient {
    @apply bg-gradient-to-r from-[#004876] to-[#1E71A6];
  }
  
  .secondary-gardient {
    @apply bg-gradient-to-r from-[#6F4336] to-[#3B2F2F];
  }
}
